/* HEADER */
header {
    color: white;
    background-color: var(--red-bg);
    position: relative;
    width: 99vw;
    height: 700px;
}

header::before {
    content: "";
    background-image: url(../img/theme_slider2_bg-1.jpg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    filter: blur;
    background-size: cover;
}

header::after {
    content: "";
    background-image: url(../img/Wave-1.png);
    position: absolute;
    top: 580px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-size: cover;
}

.navbar-edu {
    padding: 1rem 1rem 0.5rem 2rem;
}

.logo-img img {
    max-width: 250px;
}

header ul {
    list-style-type: none;
    margin: 0;
}

header li {
    padding-right: 3.5rem;
    position: relative;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.1rem;
}

.dropdown::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    top: 10px;
    margin-left: 0.5rem;
}

.courses-btn {
    background-color: var(--yellow-bg);
    font-size: 0.9rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    color: white;
}

/* JUMBOTRON */
.jumbotron-edu {
    position: relative;
    gap: 1rem;
}

.fast-icons {
    position: absolute;
    left: 0px;
    background-color: var(--yellow-bg);
    padding: 0rem 0.8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow:
        0.9px 0px 4px rgba(0, 0, 0, 0.045),
        7px 0px 32px rgba(0, 0, 0, 0.09);
}

.fast-icons>* {
    padding: 1rem 0rem;
}

.jumbotron-content {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    padding-top: 4.8rem;
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: lighter;
}

.jumbotron-btn {
    font-weight: 900;
    gap: 2rem;
}

.edu-btn {
    background-color: var(--yellow-bg);
    font-size: 0.9rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    color: white;
}

.jumbotron-edu h1 {
    font-size: 4rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
}

.btn-white-edu {
    background-color: var(--white-bg);
    color: var(--red-bg);
}

/* First Section */

.section-courses {
    background-image: url(../img/home-background.png);
    color: var(--petrol-grey-bg);
    background-position: right;
    padding-bottom: 3rem;
    margin-top: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.courses {
    gap: 8rem;
}

.section-courses .text-side>img {
    max-width: 60px;
}

h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    padding: 0.8rem 0rem 2rem 0rem;
    line-height: 3.5rem;
}

.section-courses .text-side {
    flex-basis: 50%;
}

.image-side {
    flex-basis: 40%;
}

/* Second Section */
.faculties-row {
    box-shadow:
        5.2px 3.1px 1.1px rgba(0, 0, 0, 0.011),
        7.8px 4.6px 2.9px rgba(0, 0, 0, 0.014),
        8.9px 5.2px 5.8px rgba(0, 0, 0, 0.017),
        10.1px 5.9px 12px rgba(0, 0, 0, 0.024),
        17px 10px 33px rgba(0, 0, 0, 0.04);
    width: 100%;
}

.facultie img {
    max-width: 130px;
}

.facultie {
    border: 1px solid var(--light-grey-border);
    padding: 2rem 4rem;
}

.faculties-title {
    margin: 0 auto;
    width: 100%;
    padding-top: 4rem;
    color: var(petrol-grey-bg);
    line-height: 2rem;
}

.faculties-title p {
    width: 22%;
    text-align: center;
    color: var(--medium-petrol-grey-text);
}

h3 {
    font-size: 2.5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}

/* Third Section */
.courses-law {
    line-height: 2rem;
    margin-top: 5rem;
}

.courses-law p {
    color: var(--grey-txt);
}

.courses-law .courses-btn {
    background-color: var(--red-bg);
}

/* Diagram University Year Section */
.university-year {
    position: relative;
    width: 99vw;
    margin-top: 9rem;
    height: 1600px;
}

.university-year::before {
    content: "";
    background-image: url(../svg/svg-0.svg);
    position: absolute;
    top: -106px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-size: 100%;
    background-repeat: no-repeat;
}

.university-year::after {
    content: "";
    background-image: url(../svg/svg-1.svg);
    position: absolute;
    top: 1447px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-size: 100%;
    background-repeat: no-repeat;
}

.diagram img {
    width: 100%;
    padding: 1rem 0rem;
}

.diagram {
    padding: 2rem 7rem 7rem 7rem;
    color: var(--white-bg);
    background-color: var(--red-bg);
}

.diagram>h2 {
    padding: 0px;
    margin-bottom: 5rem;
    position: relative;
    color: var(--white-bg);
}

.diagram>h2::before {
    content: "";
    width: 315px;
    height: 60px;
    background-color: var(--light-red-bg);
    mix-blend-mode: color-burn;
    position: absolute;
    opacity: 0.6;
}

.icon-edu {
    max-width: 70px;
}

.key-times {
    gap: 8rem;
}

.key-times div {
    flex-basis: 30%;
    align-items: flex-end;
    text-align: center;
}

.graduation-day {
    margin-right: 6rem;
}

.bottom-keys .graduation-day {
    margin-right: 0rem;
    margin-left: 5rem;
}

/* EVENTS */
.events {
    color: var(--medium-petrol-grey-text);
    text-align: center;
}

.events h2 {
    color: var(--white-bg);
    padding-bottom: 3rem;
}

.event-list {
    gap: 2rem;
    position: relative;
}

.event-list button {
    position: absolute;
    top: 195px;
    left: 120px;
    background-color: var(--red-bg);
    box-shadow:
        5.2px 3.1px 1.1px rgba(0, 0, 0, 0.011),
        7.8px 4.6px 2.9px rgba(0, 0, 0, 0.014),
        8.9px 5.2px 5.8px rgba(0, 0, 0, 0.017),
        10.1px 5.9px 12px rgba(0, 0, 0, 0.024),
        17px 10px 33px rgba(0, 0, 0, 0.04);
}

.card-events {
    box-shadow:
        5.2px 3.1px 1.1px rgba(0, 0, 0, 0.011),
        7.8px 4.6px 2.9px rgba(0, 0, 0, 0.014),
        8.9px 5.2px 5.8px rgba(0, 0, 0, 0.017),
        10.1px 5.9px 12px rgba(0, 0, 0, 0.024),
        17px 10px 33px rgba(0, 0, 0, 0.04);
    width: 400px;
    border-radius: 1rem;
}

.card-event p {
    text-overflow: ellipsis
}