/* HEADER */
header {
    color: white;
    background-color: var(--red-bg);
    position: relative;
    width: 99vw;
    min-height: 700px;
}

/* Waves background ***********/
header::before {
    content: "";
    background-image: url(../img/theme_slider2_bg-1.jpg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    background-size: cover;
}

header::after {
    content: "";
    background-image: url(../img/Wave-1.png);
    position: absolute;
    top: 580px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
}

.navbar-edu {
    padding: 1rem 1rem 0.5rem 2rem;
}

.logo-img img {
    max-width: 250px;
}

/* Nav-bar ************/
header ul {
    margin: 0;
}

header li {
    padding-right: 2.5rem;
    position: relative;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

/* Dropdown Icon */
.dropdown::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    top: 10px;
    margin-left: 0.5rem;
}

.nav-list .courses-btn {
    font-size: 1rem;
}

/* NAVBAR DROPDOWN MENU */
.nav-list {
    position: relative;
}

.dropdown-edu {
    position: absolute;
    top: 2rem;
    border: 1px solid var(--white-bg);
    padding: 0rem;
    min-width: 200px;
    background-color: var(--red-bg);
    z-index: 1;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.dropdown-edu li {
    width: 100%;
    padding: 1rem;
}

.dropdown-edu li:not(:last-child) {
    border-bottom: 1px solid var(--white-bg);
}

/* BUTTON & CONTRAST ISSUE */
button {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    border: none;
    color: var(--white-bg);
    border-radius: 2rem;
}

.courses-btn {
    background-color: var(--yellow-bg);
}

.edu-btn {
    background-color: var(--yellow-bg);
}

.btn-white-edu {
    background-color: var(--white-bg);
    color: var(--red-bg);
}

/* JUMBOTRON *********************************/
.jumbotron-edu {
    position: relative;
    gap: 1rem;
}

/* Left side icon */
.fast-icons {
    position: absolute;
    left: 0px;
    background-color: var(--yellow-bg);
    padding: 0rem 0.8rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    box-shadow: var(--box-shadow);
}

.fast-icons>* {
    padding: 1rem 0rem;
}

.jumbotron-content {
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding-top: 4.8rem;
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: lighter;
}

.jumbotron-btn {
    gap: 2rem;
}

.jumbotron-edu h1 {
    font-size: 4rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
}

.jumbotron-edu p {
    font-size: 1.3rem;
    font-weight: 300;
    width: 80%;
}

/* First Section ***********************************/
.section-courses.first {
    background-image: url(../img/home-background.png);
    color: var(--petrol-grey-bg);
    background-position: right;
    padding: 0 3rem 5rem 3rem;
    margin-top: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.courses {
    gap: 8rem;
}

.section-courses .text-side>img {
    max-width: 60px;
}

/* Title (utils) */
h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    padding: 0.8rem 0rem 2rem 0rem;
    line-height: 3.5rem;
}

.section-courses .text-side {
    flex-basis: 50%;
}

.image-side {
    flex-basis: 40%;
}

/* Small bubble left side */
.bubble {
    background-color: var(--hard-grey-bg);
    position: absolute;
    color: var(--light-white-txt);
    max-width: 200px;
    font-size: 0.8rem;
    text-align: center;
    top: -100px;
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
}

.bubble-container {
    position: relative;
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-top-color: var(--hard-grey-bg);
    border-bottom: 0;
    margin-left: -9px;
    margin-bottom: -9px;
}

/* Second Section *******************************/

.speech-bubble {
    background-color: var(--red-bg);
    position: absolute;
    color: var(--white-bg);
}

.filter {
    mix-blend-mode: plus-lighter;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--red-bg);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.faculties-row {
    box-shadow: var(--box-shadow);
    width: 100%;
    color: var(--red-bg);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.facultie img {
    max-width: 100px;
    margin-bottom: 1rem;
}

.facultie {
    border: 1px solid var(--light-grey-border);
    position: relative;
}

.facultie .img {
    padding: 2.5rem 4.5rem 0rem 4.5rem;
}

.faculties-title {
    margin: 0 auto;
    width: 100%;
    padding-top: 4rem;
    color: var(petrol-grey-bg);
    line-height: 2rem;
}

.faculties-title p {
    width: 30%;
    text-align: center;
    color: var(--medium-petrol-grey-text);
    font-size: 1.2rem;
}

.faculties-title h2 {
    color: var(--petrol-grey-bg)
}

/* Third Section Law Faculty ****************************/
.courses-law {
    line-height: 2rem;
    margin-top: 5rem;
}

.courses-law p {
    color: var(--grey-txt);
    font-weight: 300;
}

.courses-law h3 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.courses-law .courses-btn {
    background-color: var(--red-bg);
}

/* Diagram University Year Section ************/
.university-year {
    position: relative;
    padding-top: 80px;
}

/* Wave background ****************************/
.university-year::before {
    content: "";
    background-image: url(../svg/svg-0.svg);
    position: absolute;
    height: 89px;
    width: 100%;
    top: -7px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.university-year::after {
    content: "";
    background-image: url(../svg/svg-1.svg);
    position: absolute;
    bottom: -98px;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
}

/* DIAGRAM **************************************** */
.key-times p {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    font-weight: 300;
    color: var(--light-white-txt);
}

.diagram img {
    width: 100%;
    padding: 1rem 0rem;
}

.diagram {
    padding: 4rem 7rem 7rem 7rem;
    color: var(--white-bg);
    background-color: var(--red-bg);
}

.diagram>h2 {
    padding: 0px;
    margin-bottom: 5rem;
    position: relative;
    color: var(--white-bg);
}

.diagram>h2::before {
    content: "";
    width: 360px;
    height: 60px;
    background-color: var(--light-red-bg);
    mix-blend-mode: color-burn;
    position: absolute;
    opacity: 0.5;
}

.icon-edu {
    max-width: 70px;
}

.key-times {
    gap: 3rem;
}

.key-times div {
    flex-basis: 38%;
    align-items: flex-end;
    text-align: center;
}

/* .box-day {
    margin-right: 6rem;
} */

.bottom-keys .box-day {
    margin-right: 0rem;
    /* margin-left: 3rem; */
}

.bottom-keys {
    gap: 2rem;
}

.key-times h5 {
    padding-bottom: 0;
    font-size: 1.3rem;
}

/* EVENTS ***********************************/
.events {
    color: var(--medium-petrol-grey-text);
    text-align: center;
}

.events h2 {
    color: var(--light-white-bg);
    padding-bottom: 4rem;
}

.card-events>h3 {
    font-weight: 600;
    color: var(--petrol-grey-bg);
}

.event-list {
    gap: 2rem;
    position: relative;
    padding: 0px;
}

.event-list button {
    position: absolute;
    top: 88%;
    left: 28%;
    background-color: var(--red-bg);
    box-shadow: var(--box-shadow);
}

.card-events {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--light-white-bg);
    color: var(--light-grey-txt);
    text-align: center;
    min-width: 300px;
}


/* Latest courses ******************************/
.latest-courses {
    margin-top: 5rem;
}

.latest-courses-row {
    width: 100%;
}

.card-latest-courses img {
    max-width: 90px;
    padding-bottom: 1.5rem;
}

.card-latest-courses {
    position: relative;
    padding: 2rem 0rem;
    box-shadow: var(--box-shadow3);
    border: none;
    min-width: 288px;
    line-height: 2rem;
}

.card-latest-courses .courses-btn {
    position: absolute;
    top: 90%;
    left: 18%;
    background-color: var(--red-bg);
    padding: 1rem 1.5rem;
}

.latest-courses-row {
    gap: 1rem;
}

/* Examination *****************************/
.examination {
    margin-top: 9rem;
}

.examination .courses-btn {
    background-color: var(--red-bg);
}

/* Subscribe Section ***********************/
.subscrive h3 {
    color: var(--light-white-bg);
    font-weight: 500;
    font-size: 2rem;
}

.subscrive {
    background-color: var(--red-bg);
    padding: 3rem 5rem;
    width: 100%;
    gap: 7rem;
    margin-top: 6rem;
}

.input-email {
    position: relative;
    flex-basis: 30%;
}

.subscrive input {
    border: none;
    border-radius: 2rem;
    padding: 1.2rem;
    min-width: 250px;
    width: 100%;
}

.subscrive .circle-icon {
    left: 87%;
}

.partner-container {
    background: linear-gradient(180deg, var(--white-bg) 50%, var(--light-white-bg) 15%);
}

.partner-bg {
    background-image: url(../img/background-wave3.png);
}

.partner-logos {
    gap: 1rem;
    padding: 1rem 6rem 7rem 6rem;
    width: 85%;
    margin: 0 auto;
}

.partner-logos>div:first-child {
    padding-top: 1rem;
}

.partner-logos img {
    opacity: 0.4;
    max-height: 50%;
}

.partner>div {
    text-align: center;
}

.partner .texts {
    width: 50%;
}

.partner img {
    cursor: pointer;
}

/* FOOTER *********************************/
footer {
    background-color: var(--red-bg);
    color: var(--light-white-txt);
    min-height: 440px;
}

.footer-main {
    padding: 6rem 0rem 4rem 1rem;

}

.buttons-footer {
    gap: 1rem;
    flex-basis: 25%;
    padding: 2rem 1rem;
}

.buttons-footer button {
    border-radius: 0.3rem;
    background-color: var(--grey-bg);
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-white-txt);
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow-btn);
}

.buttons-footer img {
    width: 15px;
    margin-right: 1rem;
}

/* LOGO-leftside */
.left-footer-side {
    flex-basis: 35%;
}

.left-footer-side p {
    font-weight: 300;
    font-size: 1rem;
}

/* Social MEDIA */
.circle {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--yellow-bg);
}

.circle i {
    font-size: 1.5rem;
}

.social-icons {
    gap: 1rem;
}

/* NAV LINKS */
.nav-link {
    gap: 1rem;
    padding-right: 1rem;
    flex-basis: 40%;
}

.nav-link ul {
    flex-basis: 20%;
    font-weight: 300;
    margin: 0;
}

.nav-link .links {
    padding-top: 0.5rem;
}

/* SEARCH */
footer input {
    border: none;
    border-radius: 2rem;
    padding: 1.2rem;
    min-width: 250px;
    width: 100%;
    max-width: 400px;
}

.search {
    flex-basis: 40%;
    padding-left: 2rem;
    text-align: right;
}

.input-search {
    position: relative;
    padding-bottom: 2.5rem;
    color: var(--light-grey-txt);
    width: 100%;
}

.circle-icon {
    width: 62px;
    aspect-ratio: 1;
    background-color: var(--yellow-bg);
    align-items: center;
    justify-content: center;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    top: 0px;
    left: 87%;
    color: var(--white-bg);
}

/* Search categories */
.categories {
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: end;
    font-size: 0.8rem;
}

.categories>div {
    border: 1px solid var(--light-petrol-border);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

footer h5 {
    color: var(--white-bg);
}

.rights {
    color: var(--yellow-bg);
    font-weight: 300;
    font-size: 1.1rem;
}

.circle-go-top {
    width: 50px;
    height: 50px;
    background-color: var(--yellow-bg);
    border-radius: 50%;
}

.circle-container {
    flex-basis: 20%;
    cursor: pointer;
}

/* HOVER EFFECTS ************************************/
.events .view-all:hover {
    background-color: var(--light-red-bg);
}

.first button:hover {
    background-color: var(--light-red-bg);
}

.latest-courses button:hover {
    background-color: var(--white-bg);
    color: var(--red-bg);
    box-shadow: var(--box-shadow);
}

.partner-logos>div:hover {
    filter: blur(0.5px);
}

.text-side button:hover {
    background-color: var(--yellow-bg);
}

.dropdown-edu li:last-child:hover {
    background-color: var(--yellow-bg);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dropdown-edu li:hover {
    background-color: var(--yellow-bg);
}

.dropdown-edu li:first-child:hover {
    background-color: var(--yellow-bg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}