/* Utils */
:root {
	/* Background Colors */
	--hard-white-bg: #FFFFFF80;
	--medium-white-bg: #FAFAFA;
	--light-white-bg: #F7F8FA;
	--light-red-bg: #DA5F60E6;
	--hard-grey-bg: #000000CC;
	/* Text & Background */
	--white-bg: #FFFFFF;
	--yellow-bg: #E9D758;
	--red-bg: #E56768;
	--grey-bg: #454545;
	--petrol-grey-bg: #3D404F;
	--black-bg: #000000;
	/* Text color */
	--light-white-txt: #FFFFFFCC;
	--green-txt: #79B530;
	--grey-txt: #8B8B8A;
	--medium-grey-txt: #7F7F7F;
	--light-grey-txt: #74777B;
	--petrol-grey-txt: #70727E;
	--medium-petrol-grey-text: #5C5E6C;
	--hard-petrol-grey: #434959;
	--brown-txt: #3F3F3F;
	--harder-petrol-grey: #223441;
	--medium-brown-txt: #252525;
	--hard-brown-txt: #151515;
	/* Fill colors - white-bg / red-bg/ black-bg*/
	--medium-green-fill: #82B541;
	--light-green-fill: #69DE89;
	/* Border colors- white-bg/ red-bg/ yellow-bg/ green-text/ black-bg */
	--grey-border: #ECECEE;
	--light-petrol-border: #E5ECEF;
	--light-grey-border: #EAEAEA;
	--hard-grey-border: #CCCCCC;
	/* box-shadow */
	--box-shadow:
		5.2px 3.1px 1.1px rgba(0, 0, 0, 0.011),
		7.8px 4.6px 2.9px rgba(0, 0, 0, 0.014),
		8.9px 5.2px 5.8px rgba(0, 0, 0, 0.017),
		10.1px 5.9px 12px rgba(0, 0, 0, 0.024),
		17px 10px 33px rgba(0, 0, 0, 0.04);
	--box-shadow2:
		1.9px 2.6px 14.3px rgba(0, 0, 0, 0.3),
		5px 7px 56px rgba(0, 0, 0, 0.089);
	--box-shadow3: 1.9px 2.6px 14.3px rgba(0, 0, 0, 0.13),
		5px 7px 56px rgba(0, 0, 0, 0.038);
}

body {
	font-family: 'Fredoka', sans-serif;
}

.container-edu {
	max-width: 1200px;
	margin: 0 auto;
}

.container-small {
	max-width: 900px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

li {
	cursor: pointer;
}

/* Titles */
h5 {
	font-size: 1.1rem;
	padding-bottom: 1rem;
}

h4 {
	font-size: 1.3rem;
	padding-bottom: 1rem;
	font-weight: 600;
}

strong {
	font-weight: 600;
	color: var(--petrol-grey-txt);
}

input:focus {
	border: none;
	outline: none;
}