<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- TITLE -->
	<title>EduPrime</title>
	<!-- LINK -->
	<!-- Font -->
	<!-- serif -->
	<!-- sans-serif -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300;400;600;700&display=swap"
		rel="stylesheet">
	<!-- Font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Boostrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<!-- Style -->
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/utils.css">
	<link rel="stylesheet" href="./css/style.css">
	<!-- JAVASCRIPT-Vue -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<!-- My-JS -->
	<script type="text/javascript" src="./js/script.js" defer></script>

</head>

<body>
	<div id="app">
		<div class="">
			<!-- HEADER -->
			<!-- Navbar -->
			<header>
				<div class="navbar-edu d-flex justify-content-between align-items-center">
					<div class="logo-img">
						<img :src="'./img/' + headerNavbar.logo + '.png'" alt="logo image">
					</div>
					<ul class="nav-list d-flex align-items-center">
						<li v-for="(item, index) in headerNavbar.navItems" :class="(item.dropdown)? 'dropdown': ''">
							{{item.nav}}
							<div v-if="index==lastNavLink">
								<button class="courses-btn" type="button"> {{item.buttonText}}</button>
							</div>
						</li>
					</ul>
				</div>
				<!-- JUMBOTRON -->
				<section class="jumbotron-edu pt-5">
					<div class="jumbotron-content d-flex flex-column justify-content-center align-items-center">
						<h1>Key to your success</h1>
						<p>EduPrime is the most versatile WordPress Theme for educational purposes, showcasing
							universities, secondary schools etc.</p>
						<div class="fast-icons d-flex flex-column">
							<i class="fa-solid fa-cart-shopping"></i>
							<i class="fa-solid fa-book-open"></i>
							<i class="fa-regular fa-circle"></i>
						</div>
						<div class="jumbotron-btn d-flex pt-4">
							<button class="courses-btn" type="button"><i class="fa-solid fa-magnifying-glass"></i>
								Search courses</button>
							<button class="edu-btn btn-white-edu" type="button"><i class="fa-solid fa-user-plus"></i>
								Apply for university</button>
						</div>
					</div>
				</section>
			</header>
			<!-- Section 1 -->
			<section class="section-courses">
				<div class="courses container d-flex align-items-center">
					<div class="text-side">
						<img src="./img/books-icon.png" alt="icon books">
						<h2>Thounsands of courses for any type of student</h2>
						<p>At EduPrime, it doesn't matter what domain you wish to pursue a career in. Here you can find
							a course that satisfies your needs within a click away and applies for a course in a matter
							of minutes. EduPrime is ranked as the most versatile university in the world, thanks to the
							number of courses it provides.</p>
						<button class="courses-btn mt-4" type="button"> Browse through courses</button>
					</div>
					<div class="image-side">
						<img src="./img/Graduation-Illustration.png" alt="Illustration graduation">
					</div>
				</div>
			</section>

			<!-- Second sectiom -->
			<section class="faculties-title d-flex flex-column justify-content-center align-items-center">
				<h3>Faculties avilable at EduPrime</h3>
				<p>A single university with a load of courses, tailored to satisfy any student's needs.</p>

				<div class="faculties-row d-flex justify-content-center mt-3">
					<div class="facultie" v-for="facultie, index in faculties">
						<img :src="'./img/' + facultie.img + '.png'" alt="Facultie icon">
						<div>{{facultie.facultie}}</div>
					</div>
				</div>
			</section>

			<!-- Third Section -->
			<section class="section-courses">
				<div class="courses-law container d-flex align-items-center">
					<div class="image-side">
						<img src="./img/Gavel-Illustration-e1556884768193.png" alt="Illustration Law">
					</div>
					<div class="text-side">
						<h2>Law Faculty</h2>
						<p>Learning from world-leading academics and pratictioners, you'll not only receive an
							outstanding grounding in the theory of law, but you will be able to understand how those
							principles are applied in pratice trough a range of student-led activities and competitions.
						</p>
						<button class="courses-btn mt-4" type="button"> Read More</button>
					</div>
				</div>
			</section>

			<!-- Section diagram -->
			<div class="university-year">
				<section class="diagram d-flex flex-column align-items-center">
					<img class="icon-edu" src="./img/Clock-and-Bell.png" alt="Year icon">
					<h2>University Year</h2>
					<div class="dates d-flex flex-column align-items-center">
						<div class="key-times d-flex justify-content-end">
							<div>
								<h5>Demo Classes</h5>
								<p>In the first week, students try to accommodate with the teaching style and choose
									their
									optional courses.</p>
							</div>
							<div class="graduation-day">
								<h5>Graduation Day</h5>
								<p>In the first week, students try to accommodate with the teaching style and choose
									their
									optional courses.</p>
							</div>

						</div>
						<!-- Diagram -->
						<img src="./img/Timeline-Item.png" alt="Year University Diagram">

						<div class="key-times bottom-keys d-flex justify-content-start">
							<div class="graduation-day">
								<h5>Demo Classes</h5>
								<p>In the first week, students try to accommodate with the teaching style and choose
									their
									optional courses.</p>
							</div>
							<div>
								<h5>Graduation Day</h5>
								<p>In the first week, students try to accommodate with the teaching style and choose
									their
									optional courses.</p>
							</div>

						</div>
					</div>
					<!-- EVENTS -->
					<section class="events d-flex flex-column align-items-center mt-5">
						<img class="icon-edu" src="./img/upcoming-events-calendar-icon.png" alt="Year icon">
						<h2>Upcoming Events</h2>
						<div class="d-flex">
							<ul class="event-list d-flex">
								<li v-for="(event, index) in events">
									<div class="card card-events p-5">
										<h4>{{event.event}}</h4>
										<span> <i class="fa-regular fa-calendar-days pe-2"></i>{{event.date}}</span>
										<p>{{event.program}}</p>
										<button class="courses-btn" type="button">+ Find More</button>
									</div>
								</li>
							</ul>
						</div>
						<button class="courses-btn mt-5" type="button">View All Events</button>
					</section>
				</section>

				<!-- New section Latest Courses -->
				<section class="events d-flex flex-column align-items-center mt-5">
					<img class="icon-edu" src="./img/upcoming-events-calendar-icon.png" alt="Year icon">
					<h2>Upcoming Events</h2>
					<div class="d-flex">
						<ul class="event-list d-flex">
							<li v-for="(event, index) in events">
								<div class="card card-events p-5">
									<h4>{{event.event}}</h4>
									<span> <i class="fa-regular fa-calendar-days pe-2"></i>{{event.date}}</span>
									<p>{{event.program}}</p>
									<button class="courses-btn" type="button">+ Find More</button>
								</div>
							</li>
						</ul>
					</div>
					<button class="courses-btn mt-5" type="button">View All Events</button>
				</section>





			</div>
		</div>


</body>

</html>