<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- TITLE -->
	<title>EduPrime</title>
	<!-- LINK -->
	<!-- Font -->
	<!-- serif -->
	<!-- sans-serif -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<!-- Font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Boostrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<!-- Style -->
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/utils.css">
	<link rel="stylesheet" href="./css/style.css">
	<!-- JAVASCRIPT-Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js"></script>
	<!-- My-JS -->
	<script type="text/javascript" src="./js/script.js" defer></script>

</head>

<body>
	<div id="app">
		<div class="">
			<!-- HEADER -->
			<header id="top">
				<!-- Navbar -->
				<div class="navbar-edu d-flex justify-content-between align-items-center pt-5">
					<div class="logo-img">
						<img :src="'./img/' + headerNavbar.logo + '.png'" alt="logo image">
					</div>
					<ul class="nav-list d-flex align-items-center">
						<li v-for="(item, index) in headerNavbar.navItems" :class="(item.dropdown)? 'dropdown': ''"
							@click="item.pop=!item.pop" :tabindex="index" @blur="item.pop=false">
							{{item.nav}}
							<ul v-show="item.pop && item.dropdown" class="dropdown-edu">
								<li v-for="itemlink in item.dropdownItems">{{itemlink}}</li>
							</ul>

							<div v-if="index==lastNavLink">
								<button class="courses-btn" type="button"> {{item.buttonText}}</button>
							</div>
						</li>
					</ul>
				</div>
				<!-- JUMBOTRON -->
				<section class="jumbotron-edu pt-5">
					<div class="jumbotron-content d-flex flex-column justify-content-center align-items-center">
						<h1>Key to your success</h1>
						<p>EduPrime is the most versatile WordPress Theme for educational purposes, showcasing
							universities, secondary schools etc.</p>
						<div class="fast-icons d-flex flex-column">
							<i class="fa-solid fa-cart-shopping"></i>
							<i class="fa-solid fa-book-open"></i>
							<i class="fa-regular fa-circle"></i>
						</div>
						<div class="jumbotron-btn d-flex pt-4">
							<button class="courses-btn" type="button"><i class="fa-solid fa-magnifying-glass pe-2"></i>
								Search courses</button>
							<button class="edu-btn btn-white-edu" type="button"><i
									class="fa-solid fa-user-plus pe-2"></i>
								Apply for university</button>
						</div>
					</div>
				</section>
			</header>

			<!-- Section 1 -->
			<section class="section-courses first">
				<div class="bubble-container">
					<div class="bubble">
						Purchase Eduprime on Envato Market
					</div>

				</div>
				<div class="courses container-edu d-flex align-items-center">
					<div class="text-side">
						<img src="./img/books-icon.png" alt="icon books">
						<h2>Thounsands of courses for any type of student</h2>
						<p>At EduPrime, it doesn't matter what domain you wish to pursue a career in. Here you can find
							a course that satisfies your needs within a click away and applies for a course in a matter
							of minutes. EduPrime is ranked as the most versatile university in the world, thanks to the
							number of courses it provides.</p>
						<button class="courses-btn mt-4" type="button"> Browse through courses</button>
					</div>
					<div class="image-side">
						<img src="./img/Graduation-Illustration.png" alt="Illustration graduation">
					</div>
				</div>
			</section>

			<!-- Second section Faculties-->
			<section class="faculties-title d-flex flex-column justify-content-center align-items-center">
				<h2>Faculties available at EduPrime</h2>
				<p>A single university with a load of courses, tailored to satisfy any student's needs.</p>

				<div class="faculties-row d-flex justify-content-center mt-3">
					<div class="container-edu d-flex">
						<div class="facultie" v-for="facultie, index in faculties"
							:class="(facultieIndex==index)? 'speech-bubble' : ''" @click="activeFacultie(index)">
							<div class="img">
								<img :src="'./img/' + facultie.img + '.png'" alt="Facultie icon"
									:class="(facultieIndex==index)? 'filter' : ''">
							</div>
							<div class="pb-4">{{facultie.facultie}}</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Third Section Law Faculty-->
			<section class="section-courses mb-5" v-for="facultie, index in faculties">
				<div class="courses-law container d-flex align-items-center" v-if="facultieIndex==index">
					<div class="image-side">
						<img :src="'./img/' + facultie.imgSection" alt="Illustration Law">
					</div>
					<div class="text-side">
						<h3>{{facultie.facultie}}</h3>
						<p>Learning from world-leading academics and pratictioners, you'll not only receive an
							outstanding grounding in the theory of law, but you will be able to understand how those
							principles are applied in pratice trough a range of student-led activities and competitions.
						</p>
						<button class="courses-btn mt-4" type="button"> Read More</button>
					</div>
				</div>
			</section>

			<!-- Section diagram / Events -->
			<div class="university-year">
				<section class="diagram d-flex flex-column align-items-center">
					<img class="icon-edu pt-5" src="./img/Clock-and-Bell.png" alt="Year icon">
					<h2>University Year</h2>
					<div class="container-edu dates d-flex flex-column align-items-center">
						<div class="key-times d-flex justify-content-end">
							<div>
								<h5>Demo Classes</h5>
								<p>In the first week, students try to accommodate with the teaching style and choose
									their
									optional courses.</p>
							</div>
							<div class="box-day">
								<h5>Graduation Day</h5>
								<p>On the day of graduation, all students gather fot the ceremony and then network and
									party among others.</p>
							</div>

						</div>
						<!-- Diagram -->
						<img src="./img/Timeline-Item.png" alt="Year University Diagram">

						<div class="key-times bottom-keys d-flex justify-content-start">
							<div class="box-day">
								<h5>Orientation</h5>
								<p>First day of the university year, all students gather for the opening ceremony and
									then network with others.</p>
							</div>
							<div>
								<h5>Evaluation</h5>
								<p>At the end of a semester, students take a general evaluation test for every subject
									they're learning.</p>
							</div>

						</div>
					</div>
					<!-- EVENTS -->
					<section class="container-edu events d-flex flex-column align-items-center mt-5">
						<img class="icon-edu" src="./img/upcoming-events-calendar-icon.png" alt="Year icon">
						<h2>Upcoming Events</h2>
						<div class="d-flex mb-5">
							<ul class="event-list d-flex">
								<li v-for="(event, index) in events">
									<div class="card card-events p-5">
										<h3>{{event.event}}</h3>
										<span class="pb-2"> <i
												class="fa-regular fa-calendar-days pe-2"></i>{{event.date}}</span>
										<p>{{event.program}}</p>
										<button class="courses-btn" type="button">+ Find More</button>
									</div>
								</li>
							</ul>
						</div>
						<button class="courses-btn mt-5 view-all" type="button">View All Events</button>
					</section>
				</section>
			</div>

			<!-- Section Latest Courses -->
			<section class="container-edu latest-courses d-flex flex-column align-items-center">
				<h2 class="align-self-start mb-4">Latest Courses</h2>
				<div class="latest-courses-row d-flex">

					<div v-for="(course, index) in latestCourses">
						<div class="card card-latest-courses d-flex flex-column align-items-center">
							<img :src="'./img/'+ course.logo + '.png'" alt="Latest Courses Logos">
							<h4> {{course.course}}</h4>
							<span> <i class="fa-regular fa-user"></i> Teacher:
								<strong>{{course.teacher}}</strong></span>
							<p><i class="fa-regular fa-money-bill-1"></i> Price: <strong>{{course.price}}</strong>
							</p>
							<button class="courses-btn" type="button"> <i class="fa-solid fa-eye pe-2"></i> View
								Courses</button>
						</div>
					</div>

				</div>
			</section>

			<!-- Sections illustration/text -->
			<section class="section-courses examination">
				<div class="courses container-edu d-flex align-items-center">
					<div class="text-side">
						<img src="./img/Exam-icon.png" alt="icon books">
						<h2>The most efficent examination method</h2>
						<p>EduPrime has gathered teachers from around the globe to brainstorm in order to facilitate the
							evaluation of our students. Every teacher from our university has an influence on how
							students are evaluated at his/her subject.</p>
						<button class="courses-btn mt-4" type="button"> Discorver the method</button>
					</div>
					<div class="image-side">
						<img src="./img/Exam-Illustration.png" alt="Illustration graduation">
					</div>
				</div>
			</section>

			<section class="section-courses examination ex-less-m">
				<div class="courses container-edu d-flex align-items-center">
					<div class="image-side">
						<img src="./img/Girl-Illustration.png" alt="Illustration graduation">
					</div>
					<div class="text-side">
						<img src="./img/Exam-icon-1.png" alt="icon books">
						<h2>Variable fees for international students</h2>
						<p>EduPrime has gathered teachers from around the globe to brainstorm in order to facilitate the
							evaluation of our students. Every teacher from our university has an influence on how
							students are evaluated at his/her subject.</p>
						<button class="courses-btn mt-4" type="button"> List of Fees</button>
					</div>
				</div>
			</section>

			<!-- Subscribe -->
			<section class="subscrive d-flex align-items-center justify-content-center">
				<h3>Subscrive Now to Our Newsletter!</h3>
				<div class="input-email">
					<input type="email" v-model="search" placeholder="Email address...">
					<div class="circle-icon d-flex"><i class="fa-solid fa-paper-plane"></i></div>
				</div>
			</section>

			<!-- Partner Section -->
			<section class="partner-container d-flex align-items-center justify-content-center mt-3">

				<div class="partner d-flex flex-column align-items-center pt-5">
					<div class="texts">
						<h2>Partners</h2>
						<p>Leverage agile framework to provide a robust synopsis for high level overviews.
							Iterative
							approaches to corporate strategy.</p>
					</div>
					<div class="partner-bg">
						<div class="partner-logos d-flex mt-3 justify-content-center">
							<div v-for="partner in partners">
								<img :src="'./img/' + partner.partner + '.png'" alt="">
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- FOOTER -->
			<footer>
				<div class="footer-nav d-flex">
					<!-- Buttons left side -->
					<div class="buttons-footer d-flex flex-column justify-content-end pe-3">
						<button type="button" v-for="button, index in footerNav.buttons">
							<img :src="'./svg/' + button.imgBtn" alt="Button-icon">
							<span>{{button.textBtn}}</span>
						</button>
					</div>
					<div class="footer-main d-flex">
						<!-- Logo and text -->
						<div class="left-footer-side logo-img">
							<img :src="'./img/' + footerNav.logo + '.png'" alt="">
							<p class="mt-4">{{footerNav.text}}</p>

							<div class="social-icons d-flex mt-4">
								<div v-for="social in footerNav.socialMedias">
									<div class="circle d-flex align-items-center justify-content-center">
										<i :class="social.social"></i>
									</div>
								</div>
							</div>

						</div>
						<!-- Nav links -->
						<div class="nav-link d-flex justify-content-around">
							<div>
								<ul>
									<li>
										<h5>Get EduPrime</h5>
									</li>
									<li class="links" v-for="item, index in footerNav.navItemsGetEdu">
										{{item.link}}
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li>
										<h5>Networking</h5>
									</li>
									<li class="links" v-for="item, index in footerNav.navItemsNetworking">
										{{item.link}}
									</li>
								</ul>
							</div>
						</div>
						<!-- Search -->
						<div class="search">
							<div class="input-search">
								<input type="search" v-model="search" placeholder="Search...">
								<div class="circle-icon d-flex"><i class="fa-solid fa-magnifying-glass"></i></div>
							</div>

							<section class="categories-container">
								<h5>Search categories</h5>
								<div class="categories d-flex">
									<div v-for="categorie, index  in footerNav.categories"
										v-show="categorie.categorie.toLowerCase().includes(search)">
										<div>{{categorie.categorie}}</div>
									</div>
								</div>
								<div class="rights mt-4"> ModalTheme. All rights reserved.</div>
							</section>
						</div>
					</div>
					<div class="circle-container d-flex flex-column justify-content-end pe-5 align-items-end">

						<div class="circle-go-top d-flex align-items-center justify-content-center mt-3 mb-4">
							<a href="#top">
								<img src="./img/back-to-top-arrow.svg" alt="">
							</a>
						</div>
					</div>
				</div>

			</footer>

		</div>
	</div>

</body>

</html>